.ham {
	margin: 0 0 0 auto;
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: $cBlack;
}
.ham_line {
	position: absolute;
	left: 10px;
	width: 40px;
	height: 2px;
	background-color: #ffffff;
}
.ham_line1 {
	top: 15px;
	transition: all 0.3s ease;
}
.ham_line2 {
	top: 29px;
	transition: all 0.3s ease;
}
.ham_line3 {
	top: 43px;
	transition: all 0.3s ease;
}

.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 30px;
	transition: all 0.3s ease;
}
.clicked .ham_line2 {
	transition: all 0.3s ease;
	transform-origin: center;
	transform:  scaleX(0);
	
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 30px;
	transition: all 0.3s ease;
}

.menu {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 60px;
	right: -100%;
	background-color: $cBlack;
	opacity: 0;
	transition: all 0.6s ease;
	padding: 0;
	& > ul {
		list-style: none;
		& > li {
			cursor: pointer;
			& > a {
				text-decoration: none;
				& > p {
					padding-top: 10px;
					margin-bottom: 10px;
					color: $cWhite;
				}
			}
		}
	}
}
.clicked .menu {
	display: block;
	right: 0px;
	top: 60px;
	z-index: 100;
	opacity: 1;
	transition: all 0.6s ease;
	padding: 0;
}
.ham_v {
	display: block;
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: none;
	transition: all 0.6s ease;

	&.clicked {
		transition: all 0.6s ease;
	}
}
.ham_v_text {
	display: block;
	position: absolute;
	transition: all 0.6 ease;
	color: $cWhite;
	font-size: 2rem;
	margin: 10px 0 0 22px;
	transform: rotate(180deg);
	transform-origin: center;

	&.clicked {
		transform: rotate(0deg);
		transform-origin: center;
		margin: 20px 0 0 22px;
	}
}
// .ham_v_text::after .clicked {
// 	// transition: all 0.6 ease;
// 	position: absolute;
// 	margin: 20px 0 0 22px;
// 	transform: rotate(0deg);
// 	transform-origin: center;
// }

.ham_v_menu {
	font-size: 0.7rem;
	color:$cWhite;
	margin: 15px 0 0 11px;
	z-index: 1;
}
.menu_wapper {
	overflow: hidden;
}
.menu_wapper .clicked {
	overflow: hidden;
}
.menu_wapper_v {
	overflow: hidden;
}
.menu_wapper_v .clicked {
	overflow: hidden;
}
.menu_v {
	display: block;
	position: fixed;
	width: 100%;
	max-width: 100%;
	right: 0px;
	height: 300px;
	top: -120px;
	background-color: $cUnder_memu;
	transition: all 0.6s ease;
	z-index: -10;
	opacity: 0;
	& > ul {
		list-style: none;
		& > li {
			cursor: pointer;
			& > a {
				text-decoration: none;
				& > p {
					padding-top: 10px;
					margin-bottom: 10px;
					color: $cWhite;
				}
			}
		}
	}
}
.clicked .menu_v {
	z-index: -10;
	display: block;
	right: 0px;
	top: 120px;
	opacity: 1;
	transition: all 0.6s ease;
	width: 100%;
}