@charset "UTF-8";
.ham {
  margin: 0 0 0 auto;
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: black;
}

.ham_line {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 2px;
  background-color: #ffffff;
}

.ham_line1 {
  top: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ham_line2 {
  top: 29px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ham_line3 {
  top: 43px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.clicked .ham_line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.clicked .ham_line2 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.clicked .ham_line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 60px;
  right: -100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  padding: 0;
}

.menu > ul {
  list-style: none;
}

.menu > ul > li {
  cursor: pointer;
}

.menu > ul > li > a {
  text-decoration: none;
}

.menu > ul > li > a > p {
  padding-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.clicked .menu {
  display: block;
  right: 0px;
  top: 60px;
  z-index: 100;
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  padding: 0;
}

.ham_v {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.ham_v.clicked {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.ham_v_text {
  display: block;
  position: absolute;
  -webkit-transition: all 0.6 ease;
  transition: all 0.6 ease;
  color: white;
  font-size: 2rem;
  margin: 10px 0 0 22px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.ham_v_text.clicked {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  margin: 20px 0 0 22px;
}

.ham_v_menu {
  font-size: 0.7rem;
  color: white;
  margin: 15px 0 0 11px;
  z-index: 1;
}

.menu_wapper {
  overflow: hidden;
}

.menu_wapper .clicked {
  overflow: hidden;
}

.menu_wapper_v {
  overflow: hidden;
}

.menu_wapper_v .clicked {
  overflow: hidden;
}

.menu_v {
  display: block;
  position: fixed;
  width: 100%;
  max-width: 100%;
  right: 0px;
  height: 300px;
  top: -120px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: -10;
  opacity: 0;
}

.menu_v > ul {
  list-style: none;
}

.menu_v > ul > li {
  cursor: pointer;
}

.menu_v > ul > li > a {
  text-decoration: none;
}

.menu_v > ul > li > a > p {
  padding-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.clicked .menu_v {
  z-index: -10;
  display: block;
  right: 0px;
  top: 120px;
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 100%;
}

.slider {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.img_container {
  margin-top: 60px;
}

.slider_img {
  max-width: 100%;
  width: auto;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn.float:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.letter-spacing:hover {
  background-color: black;
  letter-spacing: 3px;
  color: white;
}

.btn.shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.shadow:hover {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}

.btn.solid {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: black;
  margin-bottom: 60px;
}

.btn.solid:hover {
  -webkit-box-shadow: 0 0 8px white;
          box-shadow: 0 0 8px white;
  color: white;
  background-color: black;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-collapse: collapse;
  margin-bottom: 60px;
}

.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
  border: 1px;
}

.btn.slide-bg:hover {
  color: white;
  border-color: white;
}

.btn.slide-bg:hover::before {
  -webkit-transform: none;
          transform: none;
}

.btn.cover-3d {
  position: relative;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
  margin-bottom: 60px;
}

.btn.cover-3d span {
  display: inline-block;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  opacity: 0;
}

.btn.cover-3d:hover {
  color: white;
}

.btn.cover-3d:hover::before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  padding: 0;
  margin: 0;
}

.header__on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: black;
  z-index: 100;
}

.header__under {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.25);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__under > img {
  margin: 5px;
  height: 50px;
  width: 50px;
}

.nissan-logo {
  height: 60px;
}

.nissan-logo img {
  margin: 5px;
  height: 50px;
  width: 50px;
}

.page-title {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title h1 {
  font-size: 1rem;
  color: white;
}

.message {
  background-color: white;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.message__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.message__cc {
  text-align: center;
  font-size: 20px;
}

.table-scroll-container {
  overflow: auto;
  white-space: nowrap;
}

.grade {
  height: 350px;
  background-color: #e2e2e2;
  padding-left: 20px;
  padding-right: 20px;
}

.grade__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.grade__table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-collapse: collapse;
}

.grade__table > tbody {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grade__table > tbody > tr {
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.grade__table > tbody > tr > td {
  text-align: center;
  padding: 15px 20px;
}

.grade_btn {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.exteria {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: black;
}

.exteria__imgs__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.exteria__imgs__main > img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.exteria__imgs__sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exteria__imgs__sub > img {
  width: 50%;
  max-width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.exteria__texts {
  position: relative;
  color: white;
}

.exteria__texts__text-1 {
  text-align: center;
  font-size: 18px;
}

.exteria__texts__text-2 {
  text-align: center;
  font-size: 15px;
}

.exteria_btn {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.interior {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: white;
}

.interior__imgs__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.interior__imgs__main > img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.interior__imgs__sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.interior__imgs__sub > img {
  width: 50%;
  max-width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.interior__texts {
  position: relative;
  color: black;
}

.interior__texts__text-1 {
  text-align: center;
  font-size: 18px;
}

.interior__texts__text-2 {
  text-align: center;
  font-size: 15px;
}

.interior_btn {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.performance {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: black;
}

.performance__imgs__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.performance__imgs__main > img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.performance__imgs__sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.performance__imgs__sub > img {
  width: 50%;
  max-width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.performance__texts {
  position: relative;
  color: white;
}

.performance__texts__text-1 {
  text-align: center;
  font-size: 18px;
}

.performance__texts__text-2 {
  text-align: center;
  font-size: 15px;
}

.performance_btn {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.topics {
  padding: 10px;
}

.topics__title {
  margin-left: 20px;
}

.swiper-container {
  width: 100%;
}

.swiper-wapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide {
  cursor: pointer;
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-slide > img {
  margin: 0;
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.swiper-slide > p {
  position: relative;
  height: 50%;
  padding: 10px;
}

.sample03 .swiper-button-prev,
.sample03 .swiper-button-next {
  display: none;
}

@media (min-width: 768px) {
  .sample03 .swiper-button-prev,
  .sample03 .swiper-button-next {
    display: block;
  }
}

.acd-check {
  display: none;
}

.acd-label {
  background: #3a3a3a;
  color: white;
  display: block;
  margin-bottom: 1px;
  margin-left: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.acd-content {
  border: 1px solid #3a3a3a;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  visibility: hidden;
  border: none;
  background: #3a3a3a;
}

.acd-content > ul {
  list-style: none;
}

.acd-content > ul > li {
  cursor: pointer;
}

.acd-content > ul > li > a {
  text-decoration: none;
}

.acd-content > ul > li > a > p {
  color: white;
}

.acd-check:checked + .acd-label + .acd-content {
  height: 100%;
  opacity: 1;
  padding: 10px;
  visibility: visible;
  border: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #3a3a3a;
}

.sns-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  height: 30px;
  width: 30px;
}

footer {
  position: relative;
  z-index: 100;
}

.footer_uper {
  background-color: #3a3a3a;
  height: 100%;
  width: 100%;
  position: relative;
}

.footer_under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  height: 100%;
  width: 100%;
}

.footer_under__menu {
  position: relative;
  margin-top: 20px;
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
}

.footer_under__menu > ul {
  list-style: none;
  margin: 0;
}

.footer_under__menu > ul > li {
  cursor: pointer;
}

.footer_under__menu > ul > li > a {
  text-decoration: none;
}

.footer_under__menu > ul > li > a > p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .slider_img {
    margin: 0;
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .footer_under {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .footer_under {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 0px;
  }
  .footer_under__menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_under__menu > ul > li {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */