/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.footer_under {
  flex-direction: row;
  right: 0px;
  &__menu {
    & > ul {
      display: flex;
      & > li {
        margin-left: 20px;
      }
    }
  }
}
