/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.slider_img {
  margin: 0;
  width: 100%;
  height: auto;
  align-items: center;
}